@model OnlineAuction.Buisness.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "Change password";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Change password</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor( m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m=> m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <input type="submit" value="Change"/>
        </fieldset>
    </div>
}
