@using OnlineAuction.Buisness.Data
@model UserFullInfo
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="col-md-6 highlight center-block row" style="float: none; margin-top: 20px;">


    @using (Html.BeginForm())
    {
        if (Model != null)
        {
        <div class="col-md-4">
            @if (Model.PhotoLink != null)
            {
                <img src=@Model.PhotoLink width="200px" style="border: 1px solid #808080;" class="img-thumbnail"/>
            }
            else
            {
                <img src="/OnlineAuction/Content/Image/UserProfile/Default/index.jpg" width="200px" class="img-thumbnail" />
            }

            @if (User.IsInRole("admin"))
            {
                <hr/>
                if (!(new DataAccess().UserIsAdmin(Model.Username)))
                {
                @Html.ActionLink("Set as asministrator", "SetAsAdministrator", "Account", new { username = @Model.Username }, new { @class = "btn btn-default btn-block" })
                <p>   </p> 
                if(!Model.IsDeleted)
                    {
                @Html.ActionLink("Ban user", "BanUser", "Account", new { username = @Model.Username }, new { @class = "btn btn-default btn-block" })
                    }
                    else
                    {
                @Html.ActionLink("Unban user", "UnBanUser", "Account", new { username = @Model.Username }, new { @class = "btn btn-default btn-block" })                        
            }
                    
                }
                 @Html.ActionLink("Delete User", "DeleteUser", "Account", new { username = @Model.Username }, new { @class = "btn btn-default btn-block" })
            }
        </div>
        <div class="col-md-8">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-5 control-label">Username: </label>
                    <div class="col-sm-7">
                        <p>@Model.Username</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Status: </label>
                    <div class="col-sm-7">
                        <p>
                            @if (Model.IsDeleted)
                            {
                                <span style="color:red">Banned</span>
                            }
                            else
                            {
                                <span>Not banned</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">First name: </label>
                    <div class="col-sm-7">
                        <p>@Model.FirstName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Last name: </label>
                    <div class="col-sm-7">
                        <p>@Model.LastName</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Phone: </label>
                    <div class="col-sm-7">
                        <p>@Model.Phone</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Location: </label>
                    <div class="col-sm-7">
                        <p>@Model.LocationName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Role: </label>
                    <div class="col-sm-7">
                        <p>@Model.Rolename</p>
                    </div>
                </div>

            </form>
        </div>
        }
        else
        {
        <h2 style="text-align: center;">User not found :(</h2>
        }
    }
</div>
