@model OnlineAuction.Buisness.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "Password restore confirmation";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Enter new password</legend>
             <div class="editor-label">
                @Html.LabelFor( m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m=> m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <input type="submit" value="Confirm"/>
        </fieldset>
    </div>
}