@using System.Collections
@using System.Web.UI.WebControls
@using OnlineAuction.Buisness.Data
@model OnlineAuction.Buisness.Models.Lot.CreateLotModel
@{
    ViewBag.Title = "CreateLot";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<link href="@Url.Content("~/Content/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")" type="text/javascript"></script>
<h2 style="width: 200px; color: #808080; margin: 0 auto;">
    CreateLot</h2>
@using (Html.BeginForm("CreateLot", "Lot", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <div class="lot-container-create">
            <table style="margin: 10px 10px 10px 10px;">
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.Name)
                        @Html.ValidationMessageFor(t => t.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        Description:
                    </td>
                    <td>
                        @Html.TextAreaFor(t => t.Description)
                        @Html.ValidationMessageFor(t => t.Description)
                    </td>
                </tr>
                <tr>
                    <td>
                        ActualDate (dd.mm.yy):
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.ActualDate, new { @class = "date"})
                        @Html.ValidationMessageFor(t => t.ActualDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        Minimal currency:
                    </td>
                    <td>@Html.TextBoxFor(t => t.StartCurrency)
                        @Html.ValidationMessageFor(t => t.StartCurrency)
                    </td>
                </tr>
                <tr>
                    <td>
                        Lot categories
                    </td>
                    <td>
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Upload photo (less then 5 Mb)</span>
                    </td>
                    <td>
                        <input type="file" name="fileUpload"   />
                    </td>
                </tr>
            </table>
            <button type="submit" value="Create Lot" class="btn btn-success btn-accept">
                Save</button>
            @(Html.Kendo().MultiSelectFor(m => m.LotSubCategories)
                       .BindTo((SelectList)ViewBag.LotSubCategories)
                       )
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker({ firstDay: 1, dateFormat: 'mm.dd.yy' });
        });
</script>
}