@using System.Collections
@using System.Web.UI.WebControls
@using OnlineAuction.Buisness.Data
@model OnlineAuction.Buisness.Models.Lot.CreateLotModel
@{
    ViewBag.Title = "CreateLot";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<h2 style="width: 200px; color: #808080; margin: 0 auto;">CreateLot</h2>
@using (Html.BeginForm("CreateLot", "Lot", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   
    <div>
        <div class="lot-container-create">
            <table style="margin: 10px 10px 10px 10px;">
                <tr>
                    <td>Name:
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.Name)
                    </td>
                </tr>
                <tr>
                    <td>Description:
                    </td>
                    <td>
                        @Html.TextAreaFor(t => t.Description)
                    </td>
                </tr>
                <tr>
                    <td>ActualDate (dd.mm.yy):
                    </td>
                    <td>
                        @(Html.Kendo().DateTimePickerFor(t => t.ActualDate).HtmlAttributes(new { style="width:220px"})
                              .Name("ActualDate")
                              .Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td>
                        Minimal currency: 
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.StartCurrency)
                    </td>
                        
                </tr>
                <tr>
                    <td>Lot category
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.SubCategoryId)
                        @(Html.Kendo()
                              .DropDownList().HtmlAttributes(new { style = "width:220px" })
                              .Name("SubCategory")
                              .DataTextField("SubCategoryName")
                              .DataValueField("ID")
                              .Events(e => e.Change("change"))
                              .DataSource(source =>
                              {
                                  source.Read(read =>
                                  {
                                      read.Action("GetSubCategories", "Lot");
                                  });
                              }))
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Upload photo (less then 5 Mb)</span>
                    </td>
                    <td>
                        @(Html.Kendo().Upload().HtmlAttributes(new { style="width=220px"} )
                              .Name("files")
                              )
                    </td>
                </tr>
            </table>
            @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
            <p> @Html.ValidationMessageFor(t => t.Name)</p>
            <p>@Html.ValidationMessageFor(t => t.Description)</p>
            <p>@Html.ValidationMessageFor(t => t.SubCategoryId)</p>
            <p>@Html.ValidationMessageFor(m => m.StartCurrency)</p>
            <button type="submit" value="Create Lot" class="btn btn-success btn-accept">
                Save</button>

        </div>
    </div>
    <script type="text/javascript">
        function change() {
            var inp = document.getElementById('SubCategoryId');
            inp.value = $("#SubCategory").data("kendoDropDownList").value();
        }
        
    </script>
}