@using OnlineAuction.Buisness.Data
@using OnlineAuction.Buisness.Models.Lot
@model LotViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<script type="text/javascript">
    $.validator.unobtrusive.adapters.add('betrange', ['minvalueproperty'],
        function (options) {
            options.rules['betrange'] = options.params;
            if (options.message != null) {
                $.validator.messages.betrange = options.message;
            }
        }
    );

    $.validator.addMethod('betrange', function (value, element, params) {
        var minValue = parseInt($('input[name="' + params.minvalueproperty + '"]').val(), 10);
        var currentValue = parseInt(value, 10);
        if (minValue > currentValue) {
            $.validator.messages.betrange = $.format($.validator.messages.betrange, minValue);
            return false;
        }
        return true;
    }, '');
</script>

@using(Html.BeginForm()){
<div class="lot-container-main">
    <div class="title-container">
        <strong class="title">@Model.Model.LotName</strong>
    </div>
    <table class="lot-table">
        <tr>
            <td style="width: 370px;">
                <div class="img-index">
                    <img  src="../../@Model.ImageUrl"  width="350" />
                </div>
            </td>
            <td style="padding: 0 0 0 0; vertical-align: top; left: 10px;">
                <table class="lot-info-table">
                    <tr>
                        <td style="height: 20px;"></td>
                    </tr>
                    <tr>
                        <td style="display: inline-block; padding-top: 30px;">
                            @Model.Model.Description
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px;">Remaining
                                @{
                                    <h4>@String.Format("{0} d {1} h {2} m",
                                            (Model.Model.ActualDate - DateTime.Now).Days.ToString(),
                                            (Model.Model.ActualDate - DateTime.Now).Hours.ToString(),
                                            (Model.Model.ActualDate - DateTime.Now).Minutes.ToString())</h4>
                                }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="betinfo-container">
        <div class="currency">
            <strong>Start from: @Model.Model.StartCurrency $</strong>
        </div>
        @if (Context.User.Identity.IsAuthenticated)
        {
            if (Context.User.IsInRole("admin") || Context.User.Identity.Name == Model.Model.Username)
            {
            @Html.ActionLink("Delete this lot", "DeleteLot", "Lot", Model.Model, new { @class = "btn btn-info delete-button" })
            }
            @(Html.Kendo().Grid<BetInfo>().Name("Bets")
                          .Columns(columns =>
                          {
                              columns.Bound(t => t.Username);
                              columns.Bound(t => t.BetValue);
                              columns.Bound(t => t.BetDate).Format("{0:dd.MM.yyyy hh:mm}");
                          })
                          .ToolBar(toolbar => toolbar.Create())
                          .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Bet"))
                          .Scrollable()
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .PageSize(20)
                              .Model(model => model.Id(t => t.ID))
                              .Create(update => update.Action("MakeBet", "Lot"))
                              .Read(read => read.Action("GetBets", "Lot"))
                          ).AutoBind(true))
        }
        else
        {
            <div class="logon-warning-message">
                <span>Unregistered users can not bet. Please, @Html.ActionLink("Log on", "LogOn", "Account", null, new { @class = "btn btn-info" })
                    or
                        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-info" })
                </span>
            </div>
        }
    </div>
    <hr/>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="k-editor-textarea">
            Leave comment:
            <div>
                @Html.Kendo().EditorFor(m => m.CommentText)
            </div>
            <input type="submit" value="Comment" class="btn btn-info"/>
        </div>
    }
    <div class="panel">
        @foreach (var c in Model.Comments)
    {
        <hr/>
        @Html.Partial("_CommentPatrial", c)
    }
    </div>
    
</div>
}
