@using System.Activities.Expressions
@using System.Activities.Statements
@model OnlineAuction.Buisness.Models.Lot.CommentViewModel


    
   
<a class="pull-left comment-image" href="#">
      <img class="media-object" src="../../@Model.ImageUrl" alt="@Model.Username" width="100%">
    </a>
    <div class="media-body">
        <h5 class="media-heading">@Html.ActionLink(Model.Username, "Profile", "Account", new { username = Model.Username }, null)<span style="float: right;"><small>  posted on <time>@Model.CommentDate</time></small></span></h5>
         @if (Model.IsApproved)
    {
        @Model.CommentText
    }
    else
    {
        <text>Deleted by administrator</text>
    }
        @if (Context.User.IsInRole("admin") && Model.IsApproved)
    {
        @Html.ActionLink("[Ban comment]", "BanComment", "Lot", Model, null)
    }
    </div>

