@model OnlineAuction.Buisness.Models.Lot.LotPreviewModel

<div class="lot-preview">
    <table style="padding: 15px 15px 15px 115px;" cellpadding="4" cellspacing="0">
        <tr>
            <td colspan="2" style="text-align: center; overflow: hidden; background-color: #d4ebeb; border-radius: 0 0 4px 4px;">
                @Model.LotName
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center; overflow: hidden; height: 120px; padding-top: 15px;"  >
                <img src="@Model.PhotoLink" width="150px;" />
            </td>
            <td >
                Remaining:
                @{
                    string days = (Model.ActualDate - DateTime.Now).Days.ToString();
        
                    @String.Format("{0} d {1} h {2} m",
                                   (Model.ActualDate - DateTime.Now).Days.ToString(),
                                   (Model.ActualDate - DateTime.Now).Hours.ToString(),
                                   (Model.ActualDate - DateTime.Now).Minutes.ToString())
                }
            </td>
        </tr>
        <tr>
            <td>
                @Model.Currency $
            </td>
            <td style="text-align: center;">
                @Html.ActionLink("Details", "Index", "Lot", new { id = Model.ID }, new { @class = "btn  btn-info btn-more" })
            </td>
        </tr>
    </table>
</div>
