@model OnlineAuction.Buisness.Models.Account.RestorePasswordModel

@{
    ViewBag.Title = "RestorePassword";
    Layout = "~/Views/Shared/_mainLayout.cshtml";

}

<h2>Restore your password</h2>
@using (Html.BeginForm())
{
    if (Session["Success"] != "true")
    {
        @Html.ValidationSummary(true, "Account password reset was unsuccessful. Please correct information you entered and try again.")
        <div>
            <fieldset>
                <legend>Enter your name and email</legend>
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <p>
                    <input type="submit" value="Restore" />
                </p>
            </fieldset>

        </div>
    }
    else
    {
        <text>Letter to the restoration of the password sent to your email.</text>
    }
}
